node_modules/
images/background/daily.jpg
images/background/moon.jpg
images/background/morning.jpg
game.html
script.js
timer.js
package-lock.json
music/sonGame.mp3
music/Homeroom.mp3
music/osynthw-midnight.mp3
